body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    color: #fdb123;
    background-color: #161717;
}

/* Nav-Section */

.navbar {
    height: 85px;
    padding: 0px 20px;
}

.navbar-brand {
    font-weight: 900;
    color: #fdb123;
    font-size: 22px;
    font-style: italic;
    transform: scale(1.2);
    font-family: "Merriweather", serif;
    padding: 2px 15px;
    animation: logo-bounce 2s infinite;
}

.navbar-brand:hover {
    color: #fdb123;
}

.navbar-collapse {
    padding-left: 100px;
    font-weight: 700;
    /* animation: fadeIn 3s ease-in-out; */
}

.nav-link {
    font-size: 14px;
    color: #fdb123;
}

.nav-link:hover {
    transform: scale(1.2);
    color: #fdb123;
    transition: 0.4s ease-in-out;
    text-decoration: underline;
}

#nav-btn {
    color: #fdb123;
    border: 2px solid #fdb123;
    background-color: transparent;
}

#nav-btn:hover {
    color: #fff;
    background-color: #fdb123;
    border-color: #fdb123;
}

.cart {
    font-size: 22px;
    margin-left: 10px;
}

.cart-badge {
    font-size: 7px;
}

/* Carousel-Section */

.carousel-inner {
    height: 500px;
}

.carousel-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 5px solid #fdb123;
}

/* Catergory-Section */

.home_category {
    padding: 80px 0px 20px 0px;
}

.home_category > .heading {
    display: flex;
    justify-content: center;
}

.home_category > .heading > h3 {
    cursor: pointer;
    text-decoration: underline;
    letter-spacing: 5px;
}

.home_category > .row {
    padding: 50px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home_category_items {
    height: 350px;
    width: 350px;
    margin: 10px;
    padding: 0;
    border-radius: 20px;
    position: relative;
    border: 3px solid #91a4d5;
    transition: 0.5s ease-out;
}

.home_category_items:hover {
    border-color: #fdb123;
    box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.25);
}

.home_category_items > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 18px;
}

.home_category_items:hover img {
    transform: scale(0.9);
    transition: 0.4s ease-in-out;
}

.home_category_items > h5 {
    text-align: center;
    transform: translate(53%, 100%);
    padding: 7px 15px;
    font-size: 14px;
    border: 1px solid #91a4d5;
    background-color: #161717;
    color: #fdb123;
    display: inline-block;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.home_category_items:hover h5 {
    transform: translate(54%, -50%);
    opacity: 1;
}

/* Latest-Product-Section */

.latest_product > .heading {
    display: flex;
    justify-content: center;
    padding: 40px 0px 120px 0px;
}

.latest_product > .heading > h3 {
    cursor: pointer;
    text-decoration: underline;
    letter-spacing: 5px;
}

.latest_product > .row {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.latest_product_items {
    height: 380px;
    width: 280px;
    border: 2px solid #fdb123;
    margin: 10px;
    padding: 0;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.latest_product_items:hover img {
    height: 100%;
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}

.latest_product_items > img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    cursor: pointer;
}


.latest_product_items > .badge {
    position: absolute;
    top: 8px;
    left: 230px;
    z-index: 1;
    font-size: 8px;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: #fdb123;
    color: #161717;
    border: 1px solid #161717;
    font-weight: bold;
    animation: badge-bounce 2s infinite;
}

.latest_product_items > h6 {
    background-color: #fdb123;
    margin: 0;
    font-size: 14px;
    padding-top: 10px;
    cursor: pointer;
    color: #586995;
}

.latest_product_items > p {
    background-color: #fdb123;
    margin: 0;
    padding: 4px 0px 9px 0px;
    font-size: 12px;
    cursor: pointer;
    color: #161717;
}

/* Our-Feature-Section  */

.our_features {
    padding: 120px 0px 70px 0px;
}

.our_features > .heading {
    text-align: center;
    padding: 30px 0px 90px 0px;
    text-decoration: underline;
    letter-spacing: 5px;
    cursor: pointer;
}

.our_features > .row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 40px;
}

.our_features > .row > .feature {
    background-color: #fdb123;
    margin: 5px 0px;
    padding: 25px 20px;
    text-align: center;
    border-radius: 20px;
    border: 5px solid white;
    cursor: pointer;
    width: 330px;
}

.feature > i {
    color: #161717;
    font-size: 30px;
    cursor: pointer;
}

.feature > h6 {
    color: #161717;
    padding: 10px 0px;
    font-weight: 700;
}

.feature > p {
    color: #374260;
    font-size: 10px;
}

/* Footer-Sections */

.footer {
    padding: 100px 15px 20px 15px;
}



.footer .col-md-3:nth-child(1) > a{
    font-weight: 900;
    color: #fdb123;
    font-size: 28px;
    font-style: italic;
    text-decoration: none;
    
}

.footer .col-md-3:nth-child(1) > p{
    color: #fdb123;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    margin-top: 20px;
    
}

.footer_links > h4{
    font-weight: 500;
    color: #fdb123;
    font-size: 18px;
    text-decoration: none;
    /* margin-top: 10px;
    margin-left: 28px; */
    margin: 10px 0px 30px 28px;
    
}

.footer_links > ul > li{
    font-weight: 500;
    color: #fdb123;
    font-size: 12px;
    list-style: none;
    margin-top: 10px;
    cursor: pointer;
    
}

.footer_links > ul > li:hover{
    text-decoration: underline;
    
}

.copy_right {
    text-align: center;
    border-top: 1px solid #fdb123;
    padding: 20px 0px;
}

.copy_right > h4 {
    font-size: 12px;
    font-weight: 300;
}

.backtop {
    position: relative;

}

.backtop > a {
    color: #374260;
    background-color: #fdb123;
    position: absolute;
    right: 40px;
    bottom: 70px;
    position: fixed;
    z-index: 999;
}

.backtop > a:hover {
    outline: 1px solid #fdb123;
}






@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes logo-bounce {
    0%,
    100% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.5);
    }
}

@keyframes badge-bounce {
    0%,
    100% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.3);
    }
}
