body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    color: #fdb123;
    background-color: #161717;
}

/* Nav-Section */

.navbar {
    height: 85px;
    padding: 0px 20px;
}

.navbar-brand {
    font-weight: 900;
    color: #fdb123;
    font-size: 22px;
    font-style: italic;
    transform: scale(1.2);
    font-family: "Merriweather", serif;
    padding: 2px 15px;
    animation: logo-bounce 2s infinite;
}

.navbar-brand:hover {
    color: #fdb123;
}

.navbar-collapse {
    font-weight: 700;
    margin-left: 300px;
}

.nav-link {
    font-size: 14px;
    color: #fdb123;
}

.nav-link:hover {
    transform: scale(1.2);
    color: #fdb123;
    transition: 0.4s ease-in-out;
    text-decoration: underline;
}

.cart {
    font-size: 22px;
    margin-left: 10px;
}

.cart-badge {
    font-size: 7px;
}

/* Order-Confirmation-Section  */

.heading {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px;
    cursor: pointer;
    padding: 100px 0px 90px 0px;
}

.confirmation_row {
    display: flex;
    justify-content: center;
}

.order_confirmation {
    background-color: #782626;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px 10px;
    border-radius: 10px;
    text-align: center;
}

.icon > i {
    font-size: 90px;
}

.order_details > p {
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 5px;
}

.order_details > p > b {
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.order_details > p > .badge {
    background-color: #374260;
}

.order_confirmation > a {
    text-decoration: none;
    background-color: #fdb123;
    color: #782626;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border: 1.4px solid #782626;
}

.order_confirmation > a:hover {
    background-color: transparent;
    border: 1.4px solid #fdb123;
    color: #fdb123;
}

/* Footer-Sections */

.footer {
    padding: 100px 15px 20px 15px;
}

.footer .col-md-3:nth-child(1) > a {
    font-weight: 900;
    color: #fdb123;
    font-size: 28px;
    font-style: italic;
    text-decoration: none;
}

.footer .col-md-3:nth-child(1) > p {
    color: #fdb123;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    margin-top: 20px;
}

.footer_links > h4 {
    font-weight: 500;
    color: #fdb123;
    font-size: 18px;
    text-decoration: none;
    margin: 10px 0px 30px 28px;
}

.footer_links > ul > li {
    font-weight: 500;
    color: #fdb123;
    font-size: 12px;
    list-style: none;
    margin-top: 10px;
    cursor: pointer;
}

.footer_links > ul > li:hover {
    text-decoration: underline;
}

.copy_right {
    text-align: center;
    border-top: 1px solid #fdb123;
    padding: 20px 0px;
}

.copy_right > h4 {
    font-size: 12px;
    font-weight: 300;
}

.backtop {
    position: relative;
}

.backtop > a {
    color: #374260;
    background-color: #fdb123;
    right: 40px;
    bottom: 70px;
    position: fixed;
    z-index: 999;
}

.backtop > a:hover {
    outline: 1px solid #fdb123;
}

@keyframes logo-bounce {
    0%,
    100% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.5);
    }
}
